#myModal
{
    margin-top: 5rem;
    padding: 0 !important;
}
#myModal h2 {
    font-family: sans-serif;
    line-height: 1.5em;
}

#myModal p {
    font-family: sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: rgb(102, 101, 101);
}

#myModal .input {
    width: 25%;
    height: 1.3em;
    margin-right: 5px;
}

.radioButton {
    padding: 10px 0 10px 0;
    margin-right: 8px;
}

.modal-header {
    background-color: #7386D5;
    color: white;
}

#myModal .modal-body {
    padding: 2px 16px;
    border-radius: 16px;
}

.modal-footer {
    background-color: #7386D5;
    color: white;
}

#myModal .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 40%;
    border: none !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: slideIn;
    animation-duration: 0.4s
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
} 

.modalOpen {
    background-color: #7386D5;
    color: white;
    height: 35px;
    border-radius: 12px;
    text-align: center;
    font-size: 1.25vw;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 1vw; 
}

.button1 {
    background-color: #7386D5;
    color: white; 
    border: #7386D5;
    border-radius: .25rem;
}

.button1:hover {
    background-color: #5f70b7;
    color: #fff;
}

.modalClose {
    background-color: #9BBDE3;
    border-radius: 12px;
    width: 15%;
    height: 30px;
    color:#fff;
    border: #9BBDE3;
    text-align: center;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 1.15vw; 
}

.button2 {
    background-color: #7386D5;
    color: white; 
    border: #7386D5;
    border-radius: .25rem;
}

.button2:hover {
    background-color: #5f70b7;
    color: white;
}

.count {
    background-color: #7386D5;
    border-radius: .25rem;
    width: 17%;
    height: 30px;
    border: #7386D5;
    text-align: center;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 1.15vw; 
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #9BBDE3;
    border-radius: 25px;
    border: 0px solid #000101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 25px;
    border-radius: 7px;
    background: #7386D5;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #9BBDE3;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #9BBDE3;
    border-radius: 25px;
    border: 0px solid #000101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 25px;
    border-radius: 7px;
    background: #7386D5;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #9BBDE3;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: ##9BBDE3;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 25px;
    border-radius: 7px;
    background: #7386D5;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #9BBDE3;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #9BBDE3;
  }
  
  body {
    padding: 30px;
  }
  